html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#map {
    width: 100%;
    height: 100%;
    background-color: #000;
    //background-color: #222222;
}

#menu {
    position: fixed;
    z-index: 9999999;
    width: 100%;
    opacity:0.7;
}

.menu-item-text {
    padding: 10px 15px;
    color: #999;
}

.menu-selector {
    margin:0px !important;;
    padding:5px 0px !important;
}

.menu-selector .btn {
    background-image: none;
    background-color: #444;
    border: 1px solid #777;
    color: #999;
    text-shadow: none;
}

.menu-selector .btn.active {
    background-image: none;
    background-color: #666;
    color: #ccc;
    text-shadow: none;
}

#overlay {
    display: none;
}

#popup {
    z-index: 999;
    width:400px;
    background-color: #333;
    display: none;
    opacity: 0.6;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #333;
}

#popup a {
    color: #f5f5ff;
}

#popup .popup-img {
    float: left;
    padding: 5px 10px 5px 0;
}

#popup h3 {
    margin: 10px 0;
}

#popup h4 {
    margin: 0;
}

#popup .popup-description {
    margin: 0;
}

.my-div-icon * {
    color: white;
    position:relative;
    top:-18px;
    left:-18px;
}

.map-div-title {
    position:relative;
    top:-40px;
    white-space:nowrap;
    opacity:0.3;
    font-size: 13px;
}

.div-marker-icon {
    position:relative;
}

.map-div-title:hover {
    opacity: 1.0 !important;
}

.map-icon-128 {
    opacity:1.0
}

.map-icon-64 {
    opacity:1.0
}

.map-icon-48 {
    opacity:1.0
}

.map-icon-24 {
    opacity:1.0
}

.map-icon-32 {
    opacity:1.0
}

.map-icon-16 {
    opacity:1.0
}

.leaflet-tooltip {
    background-color: inherit;
    border: 0 !important;
    color: #fff;
    box-shadow: inherit !important;
    white-space:nowrap;
    //opacity:0.3 !important;
    font-size: 13px !important;
    z-index:99999999 !important;
}

.leaflet-tooltip:hover {
    cursor: pointer  !important;
    color: #888  !important;
}

.leaflet-tooltip-right:before {
    display: none !important;
}

.leaflet-tooltip-top:before {
    opacity: 0.1 !important;
}

.leaflet-tooltip-left:before {
    display: none !important;
}

@-webkit-keyframes blink1 {
    75% {opacity: 0.75;}
    90% {opacity: 0.9;}
    87% {opacity: 0.87;}
    82% {opacity: 0.82;}
    77% {opacity: 0.77;}
    82% {opacity: 0.82;}
    87% {opacity: 0.87;}
}

@-moz-keyframes blink1 {
    75% {opacity: 0.75;}
    90% {opacity: 0.9;}
    87% {opacity: 0.87;}
    82% {opacity: 0.82;}
    77% {opacity: 0.77;}
    82% {opacity: 0.82;}
    87% {opacity: 0.87;}
}

#about-popup {
    width:700px !important;
    background-color: #333;
    display: none;
    opacity: 0.6;
}

.modal-body {
    max-width: 900px;
    max-height: 600px;
}