<!DOCTYPE html>
<html>
<head lang="en">
    <title>Sky-Fi.space</title>
    <meta charset="UTF-8">
    <meta property="og:url"                content="http://sky-fi.space/" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Sky-Fi.space - звездная карта для чтения"/>
    <meta property="og:description"        content="Интерактивная визуализация ~32 тысяч произведений отечественной и зарубежной фантастики"/>
    <meta property="og:image"              content="http://sky-fi.space/static/preview_image.png"/>

    <link rel="stylesheet" href="/static/leaflet.css"/>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/static/styles.css" />
    <script src="/static/leaflet.js"></script>
    <script src="/static/jquery-3.2.1.min.js"></script>
</head>
<body>
    <div id="menu" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="http://sky-fi.space">Sky-Fi.space</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">

                        <li><a href="/" role="button" data-toggle="modal" onclick="$('#about-popup').modal();return false;">Что это?</a></li>

                        <li>
                            <span class="menu-item-text">Видимых звезд:</span>
                            <div class="btn-group menu-selector">
                              <button class="btn {{ ' active' if params.map.limit == 500 else '' }}" data-value="500" data-field="limit">500</button>
                              <button class="btn {{ ' active' if params.map.limit == 1000 else '' }}" data-value="1000" data-field="limit">1000</button>
                              <button class="btn {{ ' active' if params.map.limit == 2000 else '' }}" data-value="2000" data-field="limit">2000</button>
                                <button class="btn {{ ' active' if params.map.limit == 3000 else '' }}" data-value="3000" data-field="limit">3000</button>
                            </div>
                        </li>
                        <li>
                            <span class="menu-item-text">Подписи:</span>
                            <div class="btn-group menu-selector titles-selector">
                              <button class="btn  {{ ' active' if params.map.titles == 'no' else '' }}" data-value="no" data-field="titles">Нет</button>
                              <button class="btn {{ ' active' if params.map.titles == 'top' else '' }}" data-value="top" data-field="titles">Да</button>
                              <!--<button class="btn {{ 'active' if params.map.titles == 'many' else '' }}" data-value="many" data-field="titles">Много</button>-->
                            </div>
                        </li>
                    </ul>
                    <form class="navbar-search pull-right" action="">
                        <input type="text" class="search-query span4 typeahead" placeholder="Начните вводить автора или название">
                    </form>
                </div>
            </div>
      </div>
    </div>

    <div id="map"></div>
    <div id="overlay"></div>
    <div id="popup">
    </div>
    <div id="about-popup" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Что это такое?</h3>
          </div>
        <div class="modal-body">
            <p>
               Эта звездная карта - визуализация ~32 тысяч наиболее популярных книг (и не только) с сайта <a href="fantlab.ru">fantlab.ru</a>, расположенных по мере их взаимной схожести.
                Под взаимной схожестью подразумевается схожесть оценок книг, которые им ставили пользователи сайта. Если коротко - если некие две книги
                распложены на карте рядом, значит много людей:
                <ul>
                <li>а) как минимум поставили этим двум книжкам оценки</li>
                <li>б) поставили им более-менее похожие оценки.</li>
                </ul>
                Легко видеть, что, например, книги одного автора сгруппированы в <s>кучку</s> кластер - очевидно многие читают книги любимых авторов сериями.
                <br><br>
                В силу этого вполне можно предположить, что книги разных авторов, расположенные вместе, также обладают фактической схожестью,
                но уже за счет сюжета, тематики или иных каких-то скрытых характеристик. Таким образом, если найти здесь свою любимую книгу, то все объекты
                в непосредственной близости вполне можно рассматривать в качестве кандидатов на чтение :)

            <h4>Функционал и известные проблемы</h4>
                <ul>
                    <li>есть поиск по имени автора и названию произведения (в русском и английском вариантах)</li>
                    <li>звезды кликабельны - при клике откроется всплывающее окно с детальной информацией о произведении и ссылками
                    <li>все звездочки на фоновом изображении реальны - при приближении на их месте появятся кликабельные точки</li>
                    <li>интерактивные звезды и подписи к ним выводятся по мере убывания числа оценок, то есть светятся и подписаны самые популярные,
                        приближайте интересующие вас участки</li>
                    <li>можно немного настраивать параметры отображения, но следует учитывать, что много подписей + много звезд сильно тормозит</li>
                    <li>цветовое кодирование: оттенки синего - отечественные авторы, оттенки красного - зарубежные. Насыщенность цвета кодирует дату написания,
                    чем цветнее, тем новее</li>
                    <li>контент не фильтровался - присутствуют, например, межавторские циклы, комиксы и встречаются дубли (например отдельно цикл и отдельные произведения этого цикла)</li>
                    <li>работоспособность сайта на мобильных устройствах, к сожалению, не гарантируется. На слабых смартфонах/планшетах
                    хоть и понижено число одновременно видимых точек, но все равно карта может тормозить</li>
                </ul>

            <h4>Технические детали</h4>
                Во-первых, спасибо сайту <a href="fantlab.ru">fantlab.ru</a> за содействие и предоставленные данные. Что касается технической части:
                <ul>
                    <li>Python2.7</li>
                    <li>Была сформирована матрица с оценками книг вида [Users x Books], книги отбирались толко те, у которых было как минимум 15 оценок</li>
                    <li>Была произведена факторизация матрицы с оценками с выделением
                        400 латентных фич, получено соответственно 2 матрицы с векторами юзеров и векторами книг</li>
                    <li>tSNE трансформация с перплексией 40</li>
                    <li>Использованные библиотеки: <br>
                        - Факторизатор: <a href="https://github.com/grokcode/pyrsvd">https://github.com/grokcode/pyrsvd</a><br>
                        - tSNE: <a href="https://github.com/DmitryUlyanov/Multicore-TSNE">https://github.com/DmitryUlyanov/Multicore-TSNE</a></li>
                    <li>Для полученных 2-мерных координат был добавлен небольшой нормальный шум (чтобы разрядить некоторые сверхкомпактные кластеры)
                    и приближены слишком улетевшие в сторону точки</li>
                    <li>По координатам объектов с помощью PIL был отрисован 600 мегапиксельный фон (туманность с точками звезд), который был безжалостно порезан
                    на тайлы под разные значения зума</li>
                    <li>Бэкенд/Фронтенд: Flask + Mongo / Bootstrap + Leaflet.js (SVG-layer)</li>

                </ul>

            <h4>Автор</h4>
            <a href="https://www.facebook.com/neurolord"><img style="width:32px;height:32px;" src="/static/facebook-logo.png">Facebook</a>
            <a href="https://www.linkedin.com/in/alexey-kozlovtsev-62329722/"><img style="width:32px;height:32px;" src="/static/linkedin-logo.png">LinkedIn</a>
            Обратная связь и сообщения об ошибках: <a href="mailto:a.kozlovtsev@bk.ru">a.kozlovtsev@bk.ru</a>
            </p>
        </div>

    </div>
</body>
<footer>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
   <script src="/static/script.js"></script>
   <script>
        map_wrapper.init({{ params.map | tojson }});
        $(".collapse").collapse();
   </script>
</footer>
</html>